@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: var(--font-poppins);
  font-size: 1rem;
  line-height: 1.5;
}
