@import "tailwindcss";

@theme {
  --font-poppins: var(--font-poppins);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  font-family: var(--font-poppins);
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: clamp (2rem, 5vw, 4rem);
}

p {
  font-size: 1rem;
  max-width: 65ch;
}

.container {
  width: 100%;
  max-width: 75rem;

  margin-inline: auto;
  padding-inline: 1rem;
}
